/.metadata/*

/ISE Spartan 3E/*

!/ISE Spartan 3E/*.vhd
!/ISE Spartan 3E/*.ucf

/FX3 Loopback Auto-Manual DMA/Debug*
/FX3 Loopback Auto-Manual DMA/Release*

/FX3 Stream Auto-Manual DMA/Debug*
/FX3 Stream Auto-Manual DMA/Release*

/GPIF II/original_sync_slave_fifo_2bit.cydsn/documentation/*

/Praca dyplomowa/*
!/Praca dyplomowa/Praca_dyplomowa.docx