/.metadata/*

/1 FLAG/Spartan 3E/*
/2 FLAGs/Spartan 3E/*
/4 FLAGs/ISE Spartan 3E/*
/PC Control/ISE Spartan 3E/*

!/1 FLAG/Spartan 3E/*.vhd
!/2 FLAGs/Spartan 3E/*.vhd
!/4 FLAGs/ISE Spartan 3E/*.vhd
!/PC Control/ISE Spartan 3E/*.vhd
!/1 FLAG/Spartan 3E/*.ucf
!/2 FLAGs/Spartan 3E/*.ucf
!/4 FLAGs/ISE Spartan 3E/*.ucf
!/PC Control/ISE Spartan 3E/*.ucf

/1 FLAG/FX3 Loopback Auto-Manual DMA/Debug*
/2 FLAGs/FX3 Loopback Auto-Manual DMA/Debug*
/4 FLAGs/FX3 Loopback Auto-Manual DMA/Debug*
/1 FLAG/FX3 Loopback Auto-Manual DMA/Release*
/2 FLAGs/FX3 Loopback Auto-Manual DMA/Release*
/4 FLAGs/FX3 Loopback Auto-Manual DMA/Release*

/1 FLAG/FX3 Stream Auto-Manual DMA/Debug*
/2 FLAGs/FX3 Stream Auto-Manual DMA/Debug*
/4 FLAGs/FX3 Stream Auto-Manual DMA/Debug*
/1 FLAG/FX3 Stream Auto-Manual DMA/Release*
/2 FLAGs/FX3 Stream Auto-Manual DMA/Release*
/4 FLAGs/FX3 Stream Auto-Manual DMA/Release*

/1 FLAG/GPIF II/original_sync_slave_fifo_2bit.cydsn/documentation/*
/2 FLAGs/GPIF II/original_sync_slave_fifo_2bit.cydsn/documentation/*
/4 FLAGs/GPIF II/original_sync_slave_fifo_2bit.cydsn/documentation/*

/Praca dyplomowa/*
!/Praca dyplomowa/Praca_dyplomowa.docx