# Pins location

NET "clock50" LOC = C9;
NET "reset_from_slide" LOC = N17;
NET "slide_select_mode[0]" LOC = L13;
NET "slide_select_mode[1]" LOC = L14;
NET "slide_select_mode[2]" LOC = H18;
NET "led_buffer_empty_show" LOC = F9;
NET "lcd_e" LOC = M18;
NET "lcd_rs" LOC = L18;
NET "lcd_rw" LOC = L17;
NET "lcd_srataflash_disable" LOC = D16;
NET "lcd_data[0]" LOC = R15;
NET "lcd_data[1]" LOC = R16;
NET "lcd_data[2]" LOC = P17;
NET "lcd_data[3]" LOC = M15;
NET "clock100_out" LOC = D10;
NET "flaga" LOC = A13;
NET "flagb" LOC = C5;
NET "pktend" LOC = D5;
NET "sloe" LOC = C7;
NET "slwr" LOC = D7;
NET "slcs" LOC = A4;
NET "slrd" LOC = B4;
NET "address[0]" LOC = F8;
NET "address[1]" LOC = F12;
NET "data[0]" LOC = A14;
NET "data[1]" LOC = C14;
NET "data[2]" LOC = D14;
NET "data[3]" LOC = B14;
NET "data[5]" LOC = A16;
NET "data[14]" LOC = E13;
NET "data[10]" LOC = B16;
NET "data[8]" LOC = B13;
NET "data[4]" LOC = E11;
NET "data[7]" LOC = C11;
NET "data[6]" LOC = E9;
NET "data[9]" LOC = G9;
NET "data[11]" LOC = B11;
NET "data[12]" LOC = C4;
NET "data[13]" LOC = A11;
NET "data[15]" LOC = A8;
NET "pmode[0]" LOC = D11;
NET "pmode[1]" LOC = F11;
NET "reset_to_fx3" LOC = E8;
NET "reset_from_fx3" LOC = E12;

# IO Standard

NET "slide_select_mode[2]" IOSTANDARD = LVCMOS33;
NET "slide_select_mode[1]" IOSTANDARD = LVCMOS33;
NET "slide_select_mode[0]" IOSTANDARD = LVCMOS33;
NET "led_buffer_empty_show" IOSTANDARD = LVCMOS33;
NET "lcd_data[3]" IOSTANDARD = LVCMOS33;
NET "lcd_data[2]" IOSTANDARD = LVCMOS33;
NET "lcd_data[1]" IOSTANDARD = LVCMOS33;
NET "lcd_data[0]" IOSTANDARD = LVCMOS33;
NET "lcd_srataflash_disable" IOSTANDARD = LVCMOS33;
NET "clock50" IOSTANDARD = LVCMOS33;
NET "reset_from_slide" IOSTANDARD = LVCMOS33;
NET "lcd_e" IOSTANDARD = LVCMOS33;
NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "lcd_rw" IOSTANDARD = LVCMOS33;
NET "clock100_out" IOSTANDARD = LVCMOS33;
NET "data[15]" IOSTANDARD = LVCMOS33;
NET "data[14]" IOSTANDARD = LVCMOS33;
NET "data[13]" IOSTANDARD = LVCMOS33;
NET "data[12]" IOSTANDARD = LVCMOS33;
NET "data[11]" IOSTANDARD = LVCMOS33;
NET "data[10]" IOSTANDARD = LVCMOS33;
NET "data[9]" IOSTANDARD = LVCMOS33;
NET "data[8]" IOSTANDARD = LVCMOS33;
NET "data[7]" IOSTANDARD = LVCMOS33;
NET "data[6]" IOSTANDARD = LVCMOS33;
NET "data[5]" IOSTANDARD = LVCMOS33;
NET "data[4]" IOSTANDARD = LVCMOS33;
NET "data[3]" IOSTANDARD = LVCMOS33;
NET "data[2]" IOSTANDARD = LVCMOS33;
NET "data[1]" IOSTANDARD = LVCMOS33;
NET "data[0]" IOSTANDARD = LVCMOS33;
NET "address[1]" IOSTANDARD = LVCMOS33;
NET "address[0]" IOSTANDARD = LVCMOS33;
NET "slcs" IOSTANDARD = LVCMOS33;
NET "slrd" IOSTANDARD = LVCMOS33;
NET "sloe" IOSTANDARD = LVCMOS33;
NET "slwr" IOSTANDARD = LVCMOS33;
NET "flaga" IOSTANDARD = LVCMOS33;
NET "flagb" IOSTANDARD = LVCMOS33;
NET "pktend" IOSTANDARD = LVCMOS33;
NET "pmode[1]" IOSTANDARD = LVCMOS33;
NET "pmode[0]" IOSTANDARD = LVCMOS33;
NET "reset_from_fx3" IOSTANDARD = LVCMOS33;
NET "reset_to_fx3" IOSTANDARD = LVCMOS33;
