

# PlanAhead Generated physical constraints 

NET "clock50" LOC = C9;
NET "fifo_mode[0]" LOC = L13;
NET "fifo_mode[1]" LOC = L14;
NET "fifo_mode[2]" LOC = H18;
NET "lcd_data_out[0]" LOC = R15;
NET "lcd_data_out[1]" LOC = R16;
NET "lcd_data_out[2]" LOC = P17;
NET "lcd_data_out[3]" LOC = M15;
NET "lcd_e" LOC = M18;
NET "lcd_rs" LOC = L18;
NET "lcd_rw" LOC = L17;
NET "lcd_strataflash" LOC = D16;
NET "pclk" LOC = D10;
NET "reset_n_con" LOC = C4;

# PlanAhead Generated IO constraints 

NET "clock50" IOSTANDARD = LVCMOS33;
NET "fifo_mode[0]" IOSTANDARD = LVCMOS33;
NET "fifo_mode[1]" IOSTANDARD = LVCMOS33;
NET "fifo_mode[2]" IOSTANDARD = LVCMOS33;
NET "lcd_data_out[0]" IOSTANDARD = LVCMOS33;
NET "lcd_data_out[1]" IOSTANDARD = LVCMOS33;
NET "lcd_data_out[2]" IOSTANDARD = LVCMOS33;
NET "lcd_data_out[3]" IOSTANDARD = LVCMOS33;
NET "lcd_e" IOSTANDARD = LVCMOS33;
NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "lcd_rw" IOSTANDARD = LVCMOS33;
NET "lcd_strataflash" IOSTANDARD = LVCMOS33;
NET "pclk" IOSTANDARD = LVCMOS33;
NET "reset_n_con" IOSTANDARD = LVCMOS33;
