# PlanAhead Generated IO constraints 

NET "clock50" LOC = C9;
NET "reset" LOC = N17;
NET "lcd_e" LOC = M18;
NET "lcd_rs" LOC = L18;
NET "lcd_rw" LOC = L17;
NET "lcd_srataflash_disable" LOC = D16;
NET "leds[0]" LOC = F12;
NET "leds[1]" LOC = E12;
NET "leds[2]" LOC = E11;
NET "lcd_data[0]" LOC = R15;
NET "lcd_data[1]" LOC = R16;
NET "lcd_data[2]" LOC = P17;
NET "lcd_data[3]" LOC = M15;
NET "buttons[0]" LOC = L13;
NET "buttons[1]" LOC = L14;
NET "buttons[2]" LOC = H18;

# PlanAhead Generated IO constraints 

NET "buttons[2]" IOSTANDARD = LVCMOS33;
NET "buttons[1]" IOSTANDARD = LVCMOS33;
NET "buttons[0]" IOSTANDARD = LVCMOS33;
NET "leds[2]" IOSTANDARD = LVCMOS33;
NET "leds[1]" IOSTANDARD = LVCMOS33;
NET "leds[0]" IOSTANDARD = LVCMOS33;
NET "lcd_data[3]" IOSTANDARD = LVCMOS33;
NET "lcd_data[2]" IOSTANDARD = LVCMOS33;
NET "lcd_data[1]" IOSTANDARD = LVCMOS33;
NET "lcd_data[0]" IOSTANDARD = LVCMOS33;
NET "lcd_srataflash_disable" IOSTANDARD = LVCMOS33;
NET "clock50" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "lcd_e" IOSTANDARD = LVCMOS33;
NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "lcd_rw" IOSTANDARD = LVCMOS33;
